[Desktop Entry]
Type=Application
Name=8BitDo Firmware Updater
Comment=Update 8BitDo controller firmware
Exec=%EXEC_COMMAND%
Icon=input-gaming
Terminal=false
Categories=Game;Utility;